*{
	margin:0px;
	padding:0px; 
	box-sizing:border-box;
}
body{
	background:#dddddd;
}
.containter{
	width:450px;
	margin:50px auto;
	background-color:#B0A8B9;
	padding:30px 23px;
}
.containter h1{
	text-align:center;
	border:3px solid #604B80;
	background-color:#BCB9C0;
	font-family: 'Readex Pro', sans-serif;
	font-size:
}
label{
	display:block;
}

textarea{
	height:80px;
}
.button{
	height:25px;
	width:70px;
	background-color:#BCB9C0;
	color:black;
	border:2px solid #B39CD0;
}
.a{
	width:250px;
	height:25px;
	background-color:#E3E0E7;
	border: 1px solid #604B80;
}
.area{
	height:50px;
	width:250px;
	background-color:#E3E0E7;
}
